<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8">
</head>
<body>
	<header th:fragment="menu">
		<nav>
			<div class="deep-purple nav-wrapper" >
				<a href="/listarRestaurante/1" class="brand-logo"><i class="material-icons"
					style="margin-left: 10px">restaurant_menu</i>RistorApp - Admin</a>
				<ul class="right hide-on-med-and-down" th:if="${session.user != null}">
					<li><a href="/listarTipo/1"
						class="indigo lighten-3 waves-effect waves-light btn-small">Tipos</a></li>
					<li><a href="/listarRestaurante/1"
						class="indigo lighten-3 waves-effect waves-light btn-small">Restaurantes</a></li>
					<li><a  href="/listarUsuario/1"
						class="indigo lighten-3 waves-effect waves-light btn-small">Usuários</a></li>
					<li><a  href="/listarAdm/1"
						class="indigo lighten-3 waves-effect waves-light btn-small">Administradores</a></li>
					<li><a href="/listarAvaliacao/1"
						class="indigo lighten-3 waves-effect waves-light btn-small">Avaliações</a></li>
					<li >
						<a href="/logout"
						class="red lighten-1 btn-small"><i class="material-icons prefix">exit_to_app</i></a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<footer th:fragment="footer" class="deep-purple lighten-2 page-footer rodape">
			<div class="container">
				© 2022 RistorApp
			</div>
	
	</footer>

</body>
</html>